section.sec1 {
    background: url(../img/neige.png);
    background-position-x: center;
    background-size: cover;
    background-repeat-y: initial;
    background-attachment: fixed;
    background-origin: initial;
    background-color: initial;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 500px;
}