section.sec1 {
    background: url(../img/neige.png);
    background-image: url(../img/neige.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    max-height: 90vh;
}